<template name="SetupNewAccount">
  <div class="setup-new-account">
    <h1>Welcome to the Pop-up POS System!</h1>
    <p><h4>Please take a moment to enter your company information </h4></p>
    <p><h4>we will help you start a real-time pos-system.</h4></p>
  </div>
  <form class="navbar-form navbar-left" role="submit">
  	<div class="form-group">
  		<!--<h4>Email:</h4>-->
  		<h3><span class="label label-default">Company</span><input type="text" class="form-control" placeholder="Company Name" name="companyName"></h3>
  		<p><h3><span class="label label-default">Email</span><input type="text" class="form-control" placeholder="Master Email Account" name="email"></h3></p>
  		<p><h3><span class="label label-default">Password</span><input type="password" class="form-control" placeholder="Password" name="password"></h3></p>
  		<p><h3><span class="label label-default">Confirm Password</span><input type="password" class="form-control" placeholder="Confirm Password" name="passwordConfirm"></h3></p>
  		<p><h3><button type="submit" value="Send" class="btn btn-success" id="submit">Submit</button></h3></p>
  	</div> 
  </form>


</template>
