/*****************************************************************************/
/* ViewEvent: Style */
/*****************************************************************************/
.view-event {
}


.amuse{
	background-color: #00FF7F;

}

.apps{
	background-color: yellow;
}

.mains{
	background-color: #CCFFFF;

}

.desserts{
	background-color: #E8ADAA;
}