<template name="ListEvents">
    {{#if currentUser}}
  <div class="list-events">
    <h1>Event List</h1>
    {{#if isManager}}  <!-- Only allows manager or chef to see Create Event button-->
        {{#linkTo route="createEvent"}}
         <button type="button" class="btn btn-primary">
            Create Event
         </button>
        {{/linkTo}}
    {{/if}}
    <table class="table table-hover">
    	<thead>
    		<tr>
                <th>Select</th>
    			<th>Party Name</th>
                <th>Guest Count</th>
                <th>Courses</th>
                <th>Date</th>
                <th>Type</th>
                <th>Confirmed</th>
                {{#if isManager}}
                <th>Edit</th>
                {{/if}}
    		</tr>
    	</thead>
    	<tbody>
    		{{#each events}}       
            <tr>
                <td>{{#linkTo route="viewEvent"}}<button type="button" class="currentEvent btn btn-default">View Event</button>{{/linkTo}}</td>
                <td>{{name}}</td>
                <td>{{guestCount}}</td>
                <td>{{courses}}</td>
                <td>{{localizedDateAndTime date}}</td>
                <td>{{eventType}}</td>
                <td>{{#if confirmed}}Yes{{else}}No{{/if}}</td>
                {{#if isManager}}
                <td>{{#linkTo route='editEvent'}}<span class="glyphicon glyphicon-edit" aria-hidden="false"></span>{{/linkTo}}</td>
                {{/if}}
                
            </tr>
            {{/each}}
    	</tbody>
    </table>
  </div>
  {{/if}}
</template>
