/*****************************************************************************/
/* Home: Style */
/*****************************************************************************/
.home {
}

.thePhoto {
	/*background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a6/Port_Malmesbury%2C_Kuiu_Wilderness%2C_Alaska.jpg");*/
}