/*****************************************************************************/
/* ViewTable: Style */
/*****************************************************************************/
.view-table {
}

.allergyHighlight{
	background-color: red;
}

.modifiedAppHighlight{
	background-color: yellow;
}

.modifiedMainHighlight{
	background-color: #CCFFFF;
}

.modifiedDessertHighlight{
	background-color: #E8ADAA;
}
