/*****************************************************************************/
/* ViewTable: Style */
/*****************************************************************************/
.view-table {
}

.tableClass {
	background-color: lightblue;
}

.allergyHighlight{
	background-color: red;
}

.modifiedAppHighlight{
	background-color: yellow;
}

.modifiedMainHighlight{
	background-color: #CCFFFF;
}

.modifiedDessertHighlight{
	background-color: #E8ADAA;
}


.amuse{
	background-color: #00FF7F;

}

.apps{
	background-color: yellow;
}

.mains{
	background-color: #CCFFFF;

}

.desserts{
	background-color: #E8ADAA;
}