<template name="EditTable">
   <div>
   		{{#autoForm collection="Tables" doc=selectedDoc id="editTableForm" type="update"}}
   			<legend>Edit Table</legend>
   			{{> afQuickField name="tableName"}}
   			{{> afQuickField name="guestCount"}}
   		<div>
   			<button type="update" class="btn btn-primary">Update</button>
   		</div>
   		{{/autoForm}}
         <p> </p>
         <div>
            {{> quickRemoveButton collection="Tables" _id=selectedDoc._id beforeRemove=beforeRemove class="btn btn-danger"}}
         </div>
   </div>
</template>
