<template name="NewAccountWelcome">
  <div class="new-account-welcome">
    <h1>Welcome to Pop-Up-POS!!</h1>
    <p><h3>Please take a minute to setup your account.</h3></p>
    <p><h3>This will be the master email associated with this account.</h3></p>
    <p><h3>You can start by adding some other users who will be able</h3></p>
    <p><h3>to access all the same databases, but will have more limited access</h3></p>
    <p><h3>in terms of what data they can see andhow they can manipulate it.</h3></p>
  </div>
</template>
